@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}
.card {
    background-color: aliceblue;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 80px;
    margin-left: 550px;
    margin-right: 550px;
}
.icon {
    height: 25%;
    display: flex;
    font-size: 100px;
    flex-direction: row;
    align-items: flex-end;
}
.number {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 50%;
    flex-grow: 1; 
    font-size: 200px; 
    font-weight: bold; 
}
.icon2 {
    height: 25%;
    display: flex;
}